/* importing font */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*font-family: 'Roboto', sans-serif; */

/* basic styling */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 94vh;
  background-image: linear-gradient(
    180deg,
    #0e1a44 0%,
    rgba(52, 96, 250, 0.68) 100%
  );
}

/* body {
  background-color: rgb(39, 12, 105);
  font-family: "Roboto", sans-serif;
} */

/* basic components */

.font-4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.font-5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.font-7 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.font-40 {
  font-size: 40px;
}

.font-17 {
  font-size: 17px;
}

.font-68 {
  font-size: 68px;
}
.font-15 {
  font-size: 15px;
}
.font-21 {
  font-size: 21px;
}
.font-29 {
  font-size: 29px;
}
.font-13 {
  font-size: 13px;
}

.purple-bg {
  background-color: #cc00ff;
}

.yellow-bg {
  background-color: #ffd600;
}
.red-bg {
  background-color: #ff4370;
}

.dark-blue-bg {
  background-color: #1e1e1e;
}

.black {
  color: #000000;
}
.white {
  color: #ffffff;
}
.yellow {
  color: #ffd600;
}
/* css styling */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.container-top {
  display: flex;
  border: 2px solid white;
  justify-content: space-between;
  width: 70%;
  padding: 10px 20px;
  margin: auto;
  border-radius: 13px;
  max-width: 800px;
}

.container-top-right {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border-radius: 9px;
  min-width: 120px;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: 3px solid aqua; */
  width: 30%;
  margin: auto;
  max-width: 350px;
  min-width: 300px;
}

.container-bottom-top {
  display: flex;
  justify-content: space-between;
}
.container-bottom-bottom {
  display: flex;
  justify-content: center;
}

.scissor,
.scissor-secondry {
  background-color: white;
  padding: 12px 23px;
  border: 10px solid #cc00ff;
  border-radius: 50%;

  max-height: 110px;
}

.rock,
.rock-secondry {
  background-color: white;
  padding: 12px 8px;
  border: 10px solid #ffd600;
  border-radius: 50%;
  max-height: 110px;
}

.paper,
.paper-secondry {
  background-color: white;
  padding: 7px 11px;
  border: 10px solid #ff4370;
  border-radius: 50%;
  max-height: 110px;
}
.scissor img {
  width: 40px;
}

.rock img {
  width: 70px;
}

.paper img {
  width: 60px;
}

.scissor:hover,
.rock:hover,
.paper:hover {
  border: 10px solid rgba(0, 128, 0, 0);
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
  cursor: pointer;
}

.ripple {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
    rgb(101, 85, 191) 0px 0px 0px 6px, rgb(20, 2, 92) 0px 0px 0px 9px,
    rgb(44, 31, 160) 0px 0px 0px 12px, rgb(0, 0, 0) 0px 0px 0px 15px;
}

.container-bottom-secondry {
  display: flex;
  justify-content: space-around;

  width: 70%;
  max-width: 800px;
}

.scissor-secondry-box,
.rock-secondry-box,
.paper-secondry-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.rules-btn {
  position: absolute;
  bottom: 3%;
  right: 3%;
  font-size: 21px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #00000000;
  border: 2px solid white;
  padding: 6px 18px;
  border-radius: 10px;
  cursor: pointer;
}
.rules-btn:hover {
  background-color: #00000071;
  border: 2px solid #00000000;
}

.try-again-btn {
  font-size: 13px;
  max-width: 100px;
  background-color: #00000000;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  /* font-weight: 500; */
}

.play-again-btn {
  font-size: 13px;
  color: #6b6b6b;
  background-color: white;
  border: none;
  border-radius: 9px;
  padding: 10px 25px;
}

/* Positioning Black Lines */
.container-bottom {
  position: relative;
}

#first {
  border: 6px solid black;
  position: absolute;
  width: 100%;
  top: 15%;
  z-index: -1;
}
#second {
  border: 6px solid black;
  position: absolute;
  transform: rotate(45deg);
  width: 50%;
  top: 40%;
  right: 50%;
  z-index: -1;
}

#third {
  border: 6px solid black;
  position: absolute;
  transform: rotate(-45deg);
  width: 50%;
  bottom: 40%;
  left: 40%;
  z-index: -1;
}

/* Rules checkbox */

.rules {
  background-color: #090146;
  border: 5px solid #384c95;
  border-radius: 13px;
  min-width: 200px;
  width: 33%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  /* display: none; */
  position: absolute;
  bottom: 9%;
  right: 3%;
  /* display: none; */
}
.rules-top {
  display: flex;
}
.cross-btn {
  background-color: #ff0000;
  border: 4px solid #465ba7;
  border-radius: 50%;
  font-size: 35px;
  font-weight: bold;
  padding: 0 10px;
  color: white;
  position: absolute;
  top: -25px;
  right: -25px;
  cursor: pointer;
}

ul {
  list-style-type: square;

  color: #ffd600;
  line-height: 16px;
  margin: 0;
  padding: 20px;
}

.blink {
  animation: blink 0.5s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.no-click {
  pointer-events: none;
}

.disable {
  display: none;
}

.div {
  display: block;
}

.check {
  border: 2px solid red;
}
